<!doctype html>
<html class="no-js" lang="en"{% if(o.htmlWebpackPlugin.files.manifest) { %} manifest="{%= o.htmlWebpackPlugin.files.manifest %}"{% } %}>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    {% if (o.htmlWebpackPlugin.files.favicon) { %}
    <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">
    {% } %}

    <script src="{%=o.htmlWebpackPlugin.files.chunks['styles'].entry %}"></script>
    <script src="{%=o.htmlWebpackPlugin.files.chunks['modernizr-bundle'].entry %}"></script>
  </head>
  <body>

    <div id="application"></div>
    <p>This is a paragraph</p>
    <h1>header on new branch</h1>
    <p>paragraph on develop </p>
    <h3>Back on master</h3>
    <a href src="hello"></a>
    <h5>Last commit on develop to merge to master</h5>
    <!--adding a commit for develop !-->
    <h4>Last thing on develop</h4>
    <script src="{%=o.htmlWebpackPlugin.files.chunks['website'].entry %}"></script>
  </body>
</html>
